h1 {
	font-size: 2.0625rem;
	line-height: 2.625rem;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.25;
}

h3 {
	font-size: 1.4375rem;
	line-height: 1.75rem;
}

h4,
h5,
h6 {
	font-size: 1.1875rem;
	line-height: 1.3125rem;
}

h4 {
	letter-spacing: 0.15625rem;
}

body > header {
	padding: 5.25rem 0;
}

.brand,
header > .menu {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

main,
article {
	margin-bottom: 7em;
}

article > header > * {
	font-size: 2.5rem;
	line-height: 1.225;
	margin-bottom: 1.05em;
}

.aside > header > * {
	font-size: 1.4375rem;
	line-height: 1.875rem;
	margin-bottom: 2.625rem;
}

.post > .content {
	float: right;
	width: 71.4285714285714285%
}

article > footer {
	display: block;
	padding-top: 0.125rem;
}

article > footer > div::before {
	display: none;
}

article > footer > .gravatar {
	width: 3.0625rem;
	height: auto;
	margin: 0 0 0.4375rem;
}
