body {
	margin: 0 auto;
	max-width: 1.1 * 75em;
	word-wrap: break-word;
	hyphens: auto;
}

main {
	margin-bottom: 3.5em;
	padding-left: 7.6923076923076923%;
	padding-right: 7.6923076923076923%;
}

main > :last-child {
	margin-bottom: 0;
}

article {
	margin-bottom: 3.5em;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	margin-bottom: 1.75rem;

	* + & {
		margin-top: 3.5rem;
	}
}

article > :first-child,
h1 {
	font-size: 1.75rem;
	line-height: 2.1875rem;
}

header h1,
main > header > h1,
main > h1,
h2 {
	font-size: 1.4375rem;
	line-height: 1.75rem;
}

h3 {
	font-size: 1.1875rem;
	line-height: 1.3125rem;
}

h4,
h5,
h6 {
	font-size: 1rem;
	line-height: 1.3125rem;
}

h4 {
	letter-spacing: 0.140625em; // 2.25px
	text-transform: uppercase;
}

h6 {
	font-style: italic;
}

main > h1,
article > :first-child {
	font-family: $sans;
	font-weight: 700;
}

article > :first-child > a {
	color: #1a1a1a;
}

article > :first-child > a:hover,
article > :first-child > a:focus {
	color: #007acc;
}

main > header {
	display: block;
	padding: 0;
	margin-bottom: 3.5rem;
}

main > h1 {
	margin-bottom: 3.5rem;
}

main > header {
	border-top: 4px solid #1a1a1a;
	padding-top: 1.75rem;
}

header {
	color: #686868;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 0.875rem;
	padding: 2.625rem 7.6923076923076923%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

body > header > :first-child {
	margin: 0.875em auto 0.875em 0;
}

body > header p {
	display: none;
}

header h1 {
	font-family: $sans;
	font-weight: 700;
	margin: 0;
}

header h1,
header h1 > a {
	color: #1a1a1a;
}

header h1 > a:hover,
header h1 > a:focus {
	color: #007acc;
}

header p {
	margin: 0.4375rem 0 0;
}

header > nav {
	display: none;
}

header > :checked ~ nav {
	display: block;
}

header > label {
	background-color: transparent;
	border: 1px solid #d1d1d1;
	color: #1a1a1a;
	font-size: 0.8125rem;
	margin: 0.875rem 0;
	padding: 0.625rem;
}

header > label:hover,
header > label:focus {
	background-color: transparent;
	border-color: #007acc;
	color: #007acc;
}

header > :checked + label {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
	outline: thin dotted;
}

aside {
	margin-bottom: 3.5em;
	padding: 0 7.6923076923076923%;
}

footer {
	padding: 0 7.6923076923076923%;
	color: #686868;
	font-size: 0.8125rem;
	line-height: 1.3125rem;
}

body > footer {
	clear: both;
}

article > footer {
	font-family: $sans;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;
}

footer > div {
	margin-bottom: 0.4375em;
}

footer > div:not(:last-child)::after {
	content: "/";
	opacity: 0.7;
	padding: 0 0.4375rem;
}

@viewport {
	width: device-width;
}

@media screen and (min-width: 44.375em) {
	@import "screen/44.375";
}

@media screen and (min-width: 56.875em) {
	@import "screen/56.875";
}

@media screen and (min-width: 61.5625em) {
	@import "screen/61.5625";
}

@media screen and (min-width: 85.125em) {
	body {
		padding: 0 3.75em;
	}
}

@media print {
	body > header > label,
	body > aside,
	nav {
		display: none;
	}

	body > header > :first-child > p {
		display: block;
	}
}
