a {
	color: #007acc;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #686868;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.content a {
	box-shadow: 0 1px 0 0 currentColor;
}

.content a:hover,
.content a:focus {
	box-shadow: none;
}

nav {
	font-family: $sans;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav ul ul {
	margin-left: 0.875em;
}

nav li {
	border-top: 1px solid #d1d1d1;
	position: relative;
}

nav a {
	color: #1a1a1a;
	display: block;
	line-height: 1.3125;
	padding: 0.84375em 0;
}

nav a:hover,
nav a:focus {
	color: #007acc;
}

header > nav {
	flex-basis: 100%;
	margin: 0.875em 0;
}

footer > nav {
	margin-bottom: 1.75em;
}
