body {
	padding: 0 (100%/22);
}

header {
	padding-left: 0;
	padding-right: 0;

	.toggle {
		display: none;
	}

	> nav {
		display: block;
		flex-basis: auto;
	}
}

nav {
	margin: 0 -0.875em;

	> ul > li {
		border: 0;
		float: left;
	}

	a {
		outline-offset: -8px;
		padding: 0.65625em 0.875em;
		white-space: nowrap;
	}

	ul ul {
		display: none;
		border-bottom: 1px solid #d1d1d1;
		margin: 0;
		position: absolute;
		z-index: 9;

		li {
			background-color: #fff;
			border: 1px solid #d1d1d1;
			border-bottom-width: 0;
		}

		a {
			white-space: normal;
			width: 12.6875em;
		}

		&::before,
		&::after {
			content: "";
			border-style: solid;
			position: absolute;
		}

		&::before {
			border-color: #d1d1d1 transparent;
			border-width: 0 10px 10px;
			right: 9px;
			top: -9px;
		}

		&::after {
			border-color: #fff transparent;
			border-width: 0 8px 8px;
			right: 11px;
			top: -7px;
		}
	}

	li:hover {
		> a {
			color: #007acc;
		}

		> ul {
			display: block;
			left: auto;
			right: 0;
		}
	}
}

main {
	float: left;
	margin-right: -100%;
	width: 70%;
}

article {
	margin: 0;
}

aside {
	float: left;
	margin-left: 75%;
	padding: 0;
	width: 25%;

	> section {
		font-size: 0.8125rem;
		line-height: (21/13);
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 3.5em;

	> nav {
		display: none;
	}
}
