main,
article {
	margin-bottom: 7em;
}

header {
	padding: 5.25em 0;
}

header > nav,
header > :first-child {
	margin-top: 1.75em;
	margin-bottom: 1.75em;
}

.post.content {
	float: right;
	width: (500%/7);
}

article > :first-child {
	font-size: 2.5rem;
	line-height: 1.225;
	margin-bottom: 1.05em;
}
