main,
article {
	margin-bottom: 7em;
}

header {
	align-items: flex-start;
	padding: 5.25em 0;

	> :first-child,
	> nav {
		margin-top: 1.75em;
		margin-bottom: 1.75em;
	}

	> nav {
		margin-right: -0.875em;
	}
}

.post.content {
	float: right;
	width: (500%/7);
}

article > :first-child {
	font-size: 2.5rem;
	line-height: 1.225;
	margin-bottom: 1.05em;
}
